.about-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
.about-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

