.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container main {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  background: var(--background-color);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-container button:hover {
  background-color: #45a049;
}

.login-container p {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 480px) {
  .login-container {
    margin: 20px;
    padding: 15px;
  }

  .login-container input,
  .login-container button {
    font-size: 14px;
    padding: 8px;
  }
}