.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  height: 80px;
  border-bottom: 1px solid #222;
  padding: 0 20px;
  box-sizing: border-box;
}
.header img{
  width: 60px;
}
.button{
  padding: 0 20px;
  }

