.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-main {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.users-grid {
  display: grid;
  display: grid;
}