#root {
  text-align: center;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

h1 {
  margin: 0;
}