:root {
  --background-color: #16161E;
  --text-color: #fff;
  --primary-color: #E13055;
  --primary-hover: #E13055;
  --card-background: #1A1B26;
  --border-color: #333;
  --success-color: #28a745;
  --error-color: #dc3545;

  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
